#filter-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-nav {
    padding: 6px 25px;
    margin: 0 23px;

    &.active {
        background-color: #a5dc69;
        color: #333;
    }
}

#filter-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 65px;
}

.portfolio-item {
    width: 48%;
    padding: 25px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-bottom: 30px;

    img {
        max-width: 100%;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        display: blobk;
        margin-bottom: 15px;
    }

    .info {
        color: #545454;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        h4 {
            font-size: 16px;
            color: #535353;
            font-weight: 600;
        }

        a {
            opacity: .6;
            &:hover {
                opacity: 1;
            }
        }

        svg {
            height: 15px;
            width: 15px;
        }
    }
}