.page-head {
    .para {
        max-width: 400px;
        margin: 35px auto;
    }
}

.page-contact {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
