#faq {
    ol {
        margin-left: 25px;
        list-style: decimal;
    }

    .faq-q {
        margin: 30px 0;
    }

    .ans {
        margin-top: 10px;
    }
}


.faq-page {
    .container {
        max-width: 800px;
    }

    .para {
        margin-left: 0;
        margin-right: 0;
    }
}