.footer {
    margin: 40px 0 0 0;

    .findMe {
        // background: red;
    }

    .icon {
        width: 40px;
        height: 40px;
        // background: pink;
        margin: 0 10px;
        // really cool svg
        svg {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }

    //.stackoverflow {
    //    width: 200px;
    //}

    .moreLinks {
        a {
            text-decoration: underline;
            font-weight: bold;
            margin: 0 6px;
            font-family: inherit;
        }
    }

    .credits {
        margin-top: 20px;

        * {
            font-size: 12px;
        }
    }
    
}

