.btn {
    display: inline-block;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 1px;
    text-transform: capitalize;

    &:hover {
        background-color: #a5dc69;
        color: #333;
    }
}