/* 
font-family: 'PT Sans', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Open Sans', sans-serif;

font-family:'Frutiger Neue W01 Light';
font-family:'FrutigerNeueW01-Regular';
font-family:'Frutiger Neue W01 Bd';

*/
