// all my variables
@import "_vars";
// scss mixins
@import "_mixins";
// eric mayers reset
@import "_reset";
// typography
@import "_typography";
// utility classes
@import "_helpers";
// layout styles
@import "_grid";

/*====================
    azaira styles
====================*/
div#mti_wfs_colophon {
    display: none !important;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 40px;
    height: 40px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #000;
}

.svg-icon circle {
    stroke: #000;
    stroke-width: 1;
}
