.mainMenu {
    background-color: #333;
}

.wrapper {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;

    .navItem {
        color: #fff;
        padding: 10px 15px;
        display: inline-block;
    }
}
