// $columns: 12;

// %float-styles {
//     float: left;
// }

// @mixin col-x-list {
//     @for $i from 1 through $columns {
//         .col-#{$i}-m {
//             @extend %float-styles;
//         }
//     }
// }

// @include col-x-list;

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.j-sb {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}
