.mainMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper {
    // width: 100%;

    .nav-item {
        // color: #fff;
        padding: 10px 15px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 15px;
        position: relative;
        font-family: inherit;

        &:hover:before {
            content: "";
            height: 6px;
            width: 6px;
            background: #888;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.active:before {
    content: "";
    height: 6px;
    width: 6px;
    background: #888;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.brand {
    width: 100%;
    text-align: center;
    font-family: $dfont;
    font-size: 70px;

    small {
        font-size: 40px;
    }

    a {
        display: inline-block;
    }

    img {
        display: inline-block;
        margin-bottom: -25px;
    }
}

.hasDropdown {
    position: relative;

    .dropdown {
        width: 100px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 15px 15px 15px;
        position: absolute;
        top: 120px;
        background: #fff;
        z-index: -1;
        opacity: 0;
        left: 50%;
        transform: translateX(-50px);
        transition: all 0.3s ease-in-out;

        a {
            display: block;
            padding: 12px 0 0 0;
            position: relative;

            &:hover:before {
                content: "";
                height: 6px;
                width: 6px;
                background: #888;
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &.showDropdown {
        .dropdown {
            opacity: 1 !important;
            z-index: 99 !important;
            top: 35px;
        }
    }
}
