*,
*::after,
*::before {
    box-sizing: border-box;
}

@import "components/nprogress";

// all my variables
@import "components/typography";
@import "components/vars";
@import "base/mixins";
@import "base/reset";
@import "base/helpers";
@import "components/container";
@import "components/separator";

@import "components/grid";
@import "components/btn";

@import "sections/header";
@import "sections/footer";


/*====================
    azaira styles
====================*/
div#mti_wfs_colophon {
    display: none !important;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 40px;
    height: 40px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #000;
}

.svg-icon circle {
    stroke: #000;
    stroke-width: 1;
}

/*------ body ------*/
//body {
//     border-top: 8px solid #000;
//    padding-top: 25px;
//}
